{% extends "layout.html" %}
{% block content %}

<script>
function hideCarStuff() {
  var x = document.getElementById("mycardiv");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
  }
</script>

<script type="module">
  const res = await fetch("http://127.0.0.1:5000/carbon_interface/cars")

  const body = await res.json()

  // find form-group with id cars
  const cars = document.getElementById("cars")

  body.sort((a, b) => {
    if (a.data.attributes.name < b.data.attributes.name) {
      return -1
    }
    if (a.data.attributes.name > b.data.attributes.name) {
      return 1
    }
    return 0
  })

// Add the options to the id cars
body.forEach((element) => {
    const option = document.createElement("option")
    option.value = element.data.id
    option.text = element.data.attributes.name
    cars.appendChild(option)
  })


  const makes = document.getElementById("models")

  const getMake = async (id) => {
    const resMake = await fetch(`http://127.0.0.1:5000/carbon_interface/models/${id}`)
    const makeBody = resMake.json()

    return makeBody
  }

  cars.addEventListener("change", async (event) => {
    const value = event.target.value;
    const makes = await getMake(value)
    makes.sort((a, b) => {
    if (a.data.attributes.name < b.data.attributes.name) {
      return -1
    }
    if (a.data.attributes.name > b.data.attributes.name) {
      return 1
    }
    return 0
  })

  makes.forEach((element) => {
    const option = document.createElement("option")
    option.value = element.data.id
    option.text = element.data.attributes.name
    models.appendChild(option)
  })

  })

  
</script>

<section class="new_entry">
  <div class="container">
      <div class="box">

      </div>
      <div class="box">   
        <div class="h1 mb-3" style="text-align: center;">
          <i class="fa-solid fa-car"></i>
        </div>
        <h3>Car</h3>
        <p>
          <ol style="text-align: left;">
            <li>
              Please, enter the number of kilometers.
            </li>
            <li>
              Please, select the type of fuel
            </li>
          </ol>
        </p>
          <form method="POST" action="">
              {{ form.csrf_token }}
              <fieldset class="form-group">

                <button onclick="hideCarStuff()">Hide car make and model</button>

                <div id="mycardiv" style.display = "none" >

                <div class="form-group">
                  <label class="form-control-label" for="car">
                    Car Makes
                  </label>
                  <select id="cars" class="form-control form-control-lg">

                  </select>
                </div>

                <div class="form-group">
                  <label class="form-control-label" for="model">
                    Car Models
                  </label>
                  <select id="models" class="form-control form-control-lg">

                  </select>
                </div>

                </div>



                <div class="form-group">
                    {{ form.kms.label(class="form-control-label") }}
                    {% if form.kms.errors %}
                        {{ form.kms(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.kms.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.kms(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.fuel_type.label(class="form-control-label") }}
                    {% if form.fuel_type.errors %}
                        {{ form.fuel_type(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.fuel_type.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.fuel_type(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

              </fieldset>
              </br>
              <div class="form-group">
                {{ form.submit(class="btn_carbon_app_new_entry_main") }}
              </div>
          </form>
      </div>
      <div class="box">

      </div>
  </div>
</section> 

        
{% endblock content %}