{% extends "layout.html" %}
{% block content %}

<!-- Header -->
<section class="section_header_home">
  <div class="container">

    <div class="header_home">
      <div class="box"> 
        <h1 style="font-size:50px;"><span class="text-logo">Home</span></h1>
        <p style="text-align:left;">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat dolores quos asperiores repellendus facilis cum illo aperaperiam odit doloremque nostrum. Totam excepturi labore voluptatibus iusto sapiente quisquam consectetur optio magnam voluptates omnis vel officia alias distinctio quas laborum reiciendis ratione inventore veniam, cupiditate doloribus dolore, eius natus a. Magni inventore consequuntur voluptas reprehenderit perferendis! Molestias aspernatur rem autem aut temporibus.
        </p>
        <div class="container_buttons">
          <div class="btn">
              <a href="#" class="btn_header">Register</a>
          </div>
          <div class="btn">
              <a href="#" class="btn_header">Login</a>
          </div>
        </div>  
      </div>
      <div class="box">
        <img 
          src="{{url_for('static', filename='icons/carbon_app.png')}}"
          width="300" 
          height="350"
          alt=""/>
      </div>
    </div>

  </div>
</section> 

<!-- Developers -->
<section class="section_developers">
  <div class="container">

    <div class="developers" style="display:block;">
      <h1 style="text-align:center;"> Get to know our team!</h1>
      <p>
        Our team of economists and developers ... Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, ut? Praesentium quidem sunt perspiciatis doloremque fugiat nesciunt quaerat ullam, pariatur iure unde ratione ipsum adipisci repellendus, repudiandae hic sit, temporibus molestias corrupti aut soluta sequi! Architecto deleniti expedita nisi repudiandae enim eum quas odit facilis placeat neque porro, animi incidunt consectetur. Maiores ab saepe tempora, iure asperiores beatae suscipit cum ipsum, rerum doloremque reprehenderit dolorum debitis, aliquam quasi. Maiores corporis fuga quasi nesciunt dolor iste, inventore necessitatibus unde!
      </p>      
    </div>

    <div class="developers">
      <!-- Developer section 1 -->
      <div class="box">
        <img src="/static/icons/jasmine.jpg" alt="portrait of Jasmine" style="border-radius: 50%; width:175px;">
        <h3>Jasmine Næss</h3>
        <ul>
          <li>23 years old from Jessheim</li>
          <li>First year student at the Norwegian School of Economics (NHH)</li>
          <li>Third year computer science-student at the University of Bergen</li>
        </ul>  
        <div class="section_container_buttons_developers">
          <!-- <a class="btn_developers" href="#" target="_blank">Curriculum</a> -->
          <a class="btn_developers" href="https://www.linkedin.com/in/jasmineathea/" target="_blank">LinkedIn</a>
          <a class="btn_developers" href="https://github.com/jasmineathea" target="_blank">GitHub</a>
        </div>
      </div>
      <!-- Developer section 2 -->
      <div class="box">
        <img src="https://randomuser.me/api/portraits/women/11.jpg" alt="Developer 2" style="border-radius: 50%; width:175px;">
        <h3>Developer 2</h3>
        <ul>
          <li>age</li>
          <li>studies</li>
          <li>other</li>
        </ul>  
        <div class="section_container_buttons_developers">
          <a class="btn_developers" href="#" target="_blank">Curriculum</a>
        </div>
      </div>
      <!-- Developer section 3 -->
      <div class="box">
        <img src="https://randomuser.me/api/portraits/women/11.jpg" alt="Developer 2" style="border-radius: 50%; width:175px;">
        <h3>Developer 3</h3>
        <ul>
          <li>age</li>
          <li>studies</li>
          <li>other</li>
        </ul>
        <div class="section_container_buttons_developers">
          <a class="btn_developers" href="#" target="_blank">Curriculum</a>
        </div>
      </div>
      <!-- Developer section 4 -->
      <div class="box">
        <img src="https://randomuser.me/api/portraits/women/11.jpg" alt="Developer 2" style="border-radius: 50%; width:175px;">
        <h3>Developer 4</h3>
        <ul>
          <li>age</li>
          <li>studies</li>
          <li>other</li>
        </ul>
        <div class="section_container_buttons_developers">
          <a class="btn_developers" href="#" target="_blank">Curriculum</a>
        </div>
      </div>
      <!-- Developer section 5 -->
      <div class="box">
        <img src="https://randomuser.me/api/portraits/women/11.jpg" alt="Developer 2" style="border-radius: 50%; width:175px;">
        <h3>Developer 5</h3>
        <ul>
          <li>age</li>
          <li>studies</li>
          <li>other</li>
        </ul>
        <div class="section_container_buttons_developers">
          <a class="btn_developers" href="#" target="_blank">Curriculum</a>
        </div>
      </div>
      <!-- Developer section 6 -->
      <div class="box">
        <img src="https://randomuser.me/api/portraits/women/11.jpg" alt="Developer 2" style="border-radius: 50%; width:175px;">
        <h3>Developer 6</h3>
        <ul>
          <li>age</li>
          <li>studies</li>
          <li>other</li>
        </ul>
        <div class="section_container_buttons_developers">
          <a class="btn_developers" href="#" target="_blank">Curriculum</a>
        </div>
      </div>
      <!-- Developer section 7 -->
      <div class="box">
        <img src="https://randomuser.me/api/portraits/women/11.jpg" alt="Developer 2" style="border-radius: 50%; width: 175px;">
        <h3>Developer 7</h3>
        <ul>
          <li>age</li>
          <li>studies</li>
          <li>other</li>
        </ul>
        <div class="section_container_buttons_developers">
          <a class="btn_developers" href="#" target="_blank">Curriculum</a>
        </div>
      </div>
      <!-- Developer section 8 -->
      <div class="box">
        <img src="https://randomuser.me/api/portraits/women/11.jpg" alt="Developer 2" style="border-radius: 50%; width:175px;">
        <h3>Developer 8</h3>
        <ul>
          <li>age</li>
          <li>studies</li>
          <li>other</li>
        </ul>
        <div class="section_container_buttons_developers">
          <a class="btn_developers" href="#" target="_blank">Curriculum</a>
        </div>
      </div>
    </div>
    </div>     
  </div>

  </div>          
</section>
        
{% endblock content %}
